{{#if showUpgrades}}
<fieldset class="upitab-extension {{#unless editable}}readonly{{/unless}}">
    <legend>{{localize "upgradable-items.SOLVARIS.Labels.MaterialRunes.Label"}}</legend>

    <!-- Enhancement Level -->
    <div class="form-group">
        <label class="tooltip-container">
            {{localize "upgradable-items.SOLVARIS.Labels.RuneTier1.Label"}}
            <span class="tooltip-text">{{localize "upgradable-items.SOLVARIS.Labels.RuneTier1.Hint"}}</span>
        </label>

        <select style="margin: 5px 0px 5px 0px; min-width: 100px"
                data-property="enhanceLvl"
                id="{{fieldIdPrefix}}rune-enhanceLvl"
                data-dtype="String">
            {{#each enhanceLvls}}
            <option value="{{this.id}}"
                    {{#ifEquals this.id ../selectedRunes.enhanceLvl}} selected{{/ifEquals}}>
                {{this.label}}
            </option>
            {{/each}}
        </select>
    </div>

    <!-- Tier 1 Cluster -->
    <!--<legend style="margin-top:5px; text-align:center">{{localize "upgradable-items.SOLVARIS.Labels.MaterialRunesTier1.Label"}}</legend> -->
    <div class="form-group">
        <label class="tooltip-container">
            {{localize "upgradable-items.SOLVARIS.Labels.MaterialRunesTier1.Label"}}
            <span class="tooltip-text">{{localize "upgradable-items.SOLVARIS.Labels.MaterialRunesTier1.Hint"}}</span>
        </label>

        <select style="margin:0px; min-width:100px"
                data-property="cluster1"
                id="{{fieldIdPrefix}}rune-cluster1"
                data-dtype="String">
            {{#each runeClusters}}
            <option value="{{this.id}}"
                    {{#ifEquals this.id ../selectedRunes.cluster1}} selected{{/ifEquals}}>
                {{this.label}}
            </option>
            {{/each}}
        </select>
    </div>

    <!-- Tier 2 Cluster -->
    <!-- <legend style="margin-top:5px; text-align:center">{{localize "upgradable-items.SOLVARIS.Labels.MaterialRunesTier2.Label"}}</legend> -->
    <div class="form-group">
        <label class="tooltip-container">
            {{localize "upgradable-items.SOLVARIS.Labels.MaterialRunesTier2.Label"}}
            <span class="tooltip-text">{{localize "upgradable-items.SOLVARIS.Labels.MaterialRunesTier2.Hint"}}</span>
        </label>

        <select style="margin:0px; min-width:100px"
                data-property="cluster2"
                id="{{fieldIdPrefix}}rune-cluster2"
                data-dtype="String">
            {{#each runeClusters}}
            <option value="{{this.id}}"
                    {{#ifEquals this.id ../selectedRunes.cluster2}} selected{{/ifEquals}}>
                {{this.label}}
            </option>
            {{/each}}
        </select>
    </div>

    <!-- Tier 3 Cluster -->
    <!--<legend style="margin-top:5px; text-align:center">{{localize "upgradable-items.SOLVARIS.Labels.MaterialRunesTier3.Label"}}</legend>-->
    <div class="form-group">
        <label class="tooltip-container">
            {{localize "upgradable-items.SOLVARIS.Labels.MaterialRunesTier3.Label"}}
            <span class="tooltip-text">{{localize "upgradable-items.SOLVARIS.Labels.MaterialRunesTier3.Hint"}}</span>
        </label>

        <select style="margin:0px 0px 5px 0px; min-width:100px"
                data-property="cluster3"
                id="{{fieldIdPrefix}}rune-cluster3"
                data-dtype="String">
            {{#each runeClusters}}
            <option value="{{this.id}}"
                    {{#ifEquals this.id ../selectedRunes.cluster3}} selected{{/ifEquals}}>
                {{this.label}}
            </option>
            {{/each}}
        </select>
    </div>
    <hr style="border: 0.5px thin white; width: 99%; margin: 10px 0px 2px 0px;">
    <!-- Runic Empowerment Stat Boosts -->
    <legend style="margin: 10px 0px 5px 0px;">{{localize "upgradable-items.SOLVARIS.Labels.RunicEmpowerment.Label"}}</legend>
    <div class="form-group" style="display: flex; gap: 10px; flex-wrap: wrap;">
        {{#each empowermentOptions}}
        <div style="display: flex; flex-direction: column; align-items: center;">
            <label>{{this.label}}</label>
            <select data-property="empowerment-{{this.key}}" style="min-width: 60px;" data-dtype="Number">
                {{#each ../boostRange}}
                <option value="{{this}}" {{#ifEquals this ../value}} selected{{/ifEquals}}>+{{this}}</option>
                {{/each}}
            </select>
        </div>
        {{/each}}
    </div>
    <hr style="border: 0.5px thin white; width: 99%; margin: 10px 0px 2px 0px;">
    <legend style="margin: 5px 0px 2px 0px; text-align: left">{{localize "upgradable-items.SOLVARIS.Labels.AdditionalUpgrades.Label"}}</legend>
    <!-- Spell Dropdown -->
    <div class="form-group">
        <label class="tooltip-container">
            {{localize "upgradable-items.SOLVARIS.Labels.SpellUpgrade.Label"}}
            <span class="tooltip-text">{{localize "upgradable-items.SOLVARIS.Labels.SpellUpgrade.Hint"}}</span>
        </label>

        <select name="flags.upgradable-items.selectedSpell"
                style="margin: 5px 0px 5px 0px; min-width: 100px">
            <option value="">{{localize "upgradable-items.SOLVARIS.Labels.SpellDefaultLabel"}}</option>
            {{#each spells}}
            <option value="{{this.fullId}}"
                    {{#ifEquals ../selectedSpell this.fullId}} selected{{/ifEquals}}>

                {{this.label}}
            </option>
            {{/each}}
        </select>
    </div>

    <!-- Feat Dropdown -->
    <div class="form-group">
        <label class="tooltip-container">
            {{localize "upgradable-items.SOLVARIS.Labels.FeatUpgrade.Label"}}
            <span class="tooltip-text">{{localize "upgradable-items.SOLVARIS.Labels.FeatUpgrade.Hint"}}</span>
        </label>

        <select name="flags.upgradable-items.selectedFeat"
                style="margin: 5px 0px 5px 0px; min-width: 100px ">
            <option value="">{{localize "upgradable-items.SOLVARIS.Labels.FeatDefaultLabel"}}</option>
            {{#each feats}}
            <option value="{{this.fullId}}"
                    {{#ifEquals ../selectedFeat this.fullId}} selected{{/ifEquals}}>

                {{this.label}}
            </option>
            {{/each}}
        </select>
    </div>
</fieldset>
{{/if}}
